@media only screen and (max-width: 1679px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:350px;
        width:1000px;
        
    }
    .means{
        font-size:30px;
    }
    .meaning{
        font-size:30px;
    }
    .mean{
        font-size:30px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        width:565px;
        height:650px;
    }
    .map-div{
        width:550px;
        
    }
    .box{
        width:500px;
        height:450px;
        display: flex;
        flex-direction: column;
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
}
@media only screen and (max-width: 1449px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:350px;
        width:1000px;
        
    }
    .means{
        font-size:30px;
    }
    .meaning{
        font-size:30px;
    }
    .mean{
        font-size:30px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        width:565px;
        height:650px;
    }
    .map-div{
        width:550px;
        
    }
    .box{
        width:500px;
        height:450px;
        display: flex;
        flex-direction: column;
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
}
@media only screen and (max-width: 1024px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:350px;
        width:900px;
            
    }
    .means{
        font-size:30px;
        padding-left:450px;
    }
    .meaning{
        font-size:30px;
        padding-left:200px;
    }
    .mean{
        font-size:30px;
        padding-left:400px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        width:465px;
        height:650px;
    }
    .map-div{
        width:550px;
        
    }
    .box{
        width:465px;
        height:450px;
        display: flex;
        flex-direction: column;
        
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
    .real{
        display: none;
    }
    .arabic{
        font-size:25px;
        margin-left:420px;
    }
    .emirates{
        font-size:25px;
        margin-left:400px;
    }
    .east{
        font-size:25px;
        margin-left:120px;
    }
    .dubai1{
        width:490px;
        margin-left:285px;
    }
}
@media only screen and (max-width: 946px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:350px;
        width:1000px;
        
    }
    .means{
        font-size:30px;
    }
    .meaning{
        font-size:30px;
    }
    .mean{
        font-size:30px;
    }
}


@media only screen and (max-width: 768px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:50px;
        width: 620px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:350px;
        width:600px;
        border-radius:20px;
        
    }
    .means{
        font-size:30px;
        padding-left:300px;
    }
    .meaning{
        font-size:30px;
        padding-left:100px;
    }
    .mean{
        font-size:30px;
        padding-left:250px;
    }
    .map{
        width:400px;
        
    }
    .real{
        display: none;
    }
    
}
@media only screen and (max-width: 540px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:220px;

    }
    .explore{
        margin-top:40px;
    }
    .section-div{
        width:500px;
        margin-left:20px;
    }
    .section-map{
        display: flex;
        flex-direction: column;
    }
    .map-div{
        margin-top:20px;   
    }
    .map{
        width:540px;
        height:250px;
    }
    .box{
        width:250px;
        height:250px;
        margin-top:20px;
    }
    .palms img{
        width:540px;
        height:250px;
    }
    .palms-title{
        display: flex;
        margin-left:60px;
    }
    .palms-text{
        padding-left:20px;
    }
    .real{
        margin-left:300px;
        
    }
    .marhaba{
        width:500px;
        margin-top:140px;
    }
    .means{
        font-size:30px;
    }
    .mean{
        font-size:30px;
    }
    .meaning{
        font-size:30px;
    }
    .arabic{
        margin-left:180px;
    }
    .emirates{
        margin-left:170px;
    }
    .east{
        margin-left:100px;
    }
    .dubai1{
        width:250px;
    }
    .dubai{
        margin-left:-200px;
    }
}
@media only screen and (max-width: 414px){
    .images img{
        width:100%;
    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:200px;
        margin-left:100px;
    }
    .text{
        font-size:20px;
    }
    .text1{
        font-size:20px;
    }
    .world{
        margin-left:100px;
        margin-top:-80px;
    }
    .hello{
         font-size:20px;
    }
    .explore{
        width:100px;
        height:50px;
        margin-left:150px;
        
    }
    .section-div{
        margin-left:0px;
        width:415px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:325px;
        width:415px;
        height:100px;
        
    }
    .means{
        font-size:20px;
        margin-left:-100px;
    }
    .meaning{
        font-size:20px;
        margin-left:-100px;
    }
    .mean{
        font-size:20px;
        margin-left:-85px;
    }
    .map-div{
        margin-top:0px;
    }
    .map{
        width:414px;
    }
    .box{
        width:414px;
    }
    .arabic{
        margin-left:110px;
    }
    .emirates{
        margin-left:90px;
    }
    .east{
        margin-left:30px;
    }
    .dubai1{
        width:150px;
    }
    .dubai{
        margin-left:-270px;
        font-size:15px;
    }
    .small-img img{
        width:125px;
    }
    .burj{
        font-size:15px;
       margin-left:100px;
    }
    .khalifa{
        font-size: 15px;
    }
}
@media only screen and (max-width: 411px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:200px; 
    }
    .text{
        font-size:20px;
        margin-left:30px;
    }
    .text1{
        font-size:20px;
        margin-left:30px;
    }
    .world{
        margin-left:130px;
        width:350px;
    }
    .section-div{
        margin-left:0px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:350px;
        width:1000px;
        
    }
    .means{
        font-size:30px;
    }
    .meaning{
        font-size:30px;
    }
    .mean{
        font-size:30px;
    }
    .small-img img{
        width:125px;
    }
    .burj{
        font-size:15px;
       
    }
    .khalifa{
        font-size: 15px;
    }
}
@media only screen and (max-width: 375px){
    .images img{
        width:100%;
    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:200px;
        height:100px;
        margin-left:90px;
    }
    .text{
        font-size:25px;
        margin-left:0px;
    }
    .text1{
        font-size:25px;
        margin-left:0px;
    }
    .world{
        margin-left:70px;
    }
    .hello{
        font-size:20px;
        margin-top:100px;
    }
    .explore{
        width:100px;
        height:50px;
        margin-left:140px;
    }
    .section-div{
        margin-left:0px;
        width:auto;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:313px;
        width:374px;
        height:100px;
        
    }
    .means{
        font-size:20px;
        margin-left:-120px;
    }
    .meaning{
        font-size:20px;
        margin-left:-70px;
    }
    .mean{
        font-size:20px;
        margin-left:-110px;
    }
    .small-img img{
        width:125px;
    }
    .map-div{
        margin-top:0px;
    }
    .map{
        width:375px;

    }
    .box{
        width:375px;
    }
    .arabic{
        margin-left:80px;
    }
    .emirates{
        margin-left:70px;
    }
    .east{
        margin-left:20px;
    }
    .dubai1{
        width:80px;
    }
    .dubai{
        font-size:15px;
        margin-left:-270px;
    }
    .burj{
        font-size:15px;
           
    }
    .khalifa{
        font-size: 15px;
    }
}
@media only screen and (max-width: 360px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:200;
    }
    .text{
        font-size:20px;
    }
    .text1{
        font-size:20px;
    }
    
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:0px;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:310px;
        width:360px;
        height:100px;
        
    }
    .means{
        font-size:20px;
    }
    .meaning{
        font-size:20px;
    }
    .mean{
        font-size:20px;
    }
    .small-img img{
        width:125px;
    }
    .map{
        width:360px;
    }
    .box{
        width:360px;
    }
    .arabic{
        font-size:20px;
    }
    .emirates{
        font-size:20px;
    }
    .east{
        font-size:20px;
    }
    .duba1{
        width:250px;
    }
    .dubai{
        font-size:10px;
      
    }
    .burj{
        font-size:15px;
       
    }
    .khalifa{
        font-size: 15px;
    }
}
@media only screen and (max-width: 320px){
    .images img{
        width:100%;

    }
    
    .images{
        margin-right:0px;
        
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        margin-left:30px;
        
    }
    .text{
        font-size:25px;
    }
    .text1{
        font-size:25px;
    }
    .world{
        margin-left:70px;
    }
    .explore{
        width:100px;
        height:50px;
        margin-left:120px;
    }
    .section-div{
        margin-left:0px;
        width:auto;
    }
    .marhaba{
        margin-left:auto;
        margin-right:auto;
        margin-top:200px;
        max-width:300px;
        width: 100%;
        height:100px;
        
    }
    .means{
        font-size:20px;
        padding-left:130px;
    }
    .meaning{
        font-size:15px;
        padding-left:30px;
    }
    .mean{
        font-size:20px;
        padding-left:100px;
    }
    .map{
        width:302px;
    }
    .small-img img{
        width:125px;
    }
    .burj{
        font-size:15px;
       
    }
    .khalifa{
        font-size: 15px;
    }
    .arabic{
        font-size:20px;
        margin-left:100px;
    }
    .emirates{
        font-size:20px;
        margin-left:90px;
    }
    .east{
        font-size:20px;
        margin-left:90px;
    }
    .dubai1{
        width:100px;
    }
    .dubai{
        margin-left:-223px;
        font-size:15px;
        width:300px;
    }
}


























