@media only screen and (max-width: 1680px){
    .images img{
        max-width:500px;
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    
    .perfect{
        font-size:40px;
    }
    .present{
        font-size:40px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        max-width:565px;
        width:100%;
        height:650px;
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
    .form{
        max-width:220px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:250px;
    }
}
@media only screen and (max-width: 1440px){
    .images img{
        max-width:500px;
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    
    .perfect{
        font-size:40px;
    }
    .present{
        font-size:40px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        max-width:565px;
        width:100%;
        height:650px;
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
    .form{
        max-width:220px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:250px;
    }
}


@media only screen and (max-width: 1440px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .present-div{
        max-width:600px;
        width:100%;
    }
    .perfect{
        font-size:30px;
    }
    .present{
        font-size:30px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        max-width:565px;
        width:100%;
        height:650px;
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
    .form{
        max-width:200px;
    }
    .footer{
        
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:250px;
    }
}

@media only screen and (max-width: 1024px){
    
    .last-logo {
        margin-left: 100px;
        margin-top: 50px;
    }

    .last-title {
        margin-top: 50px;
    }


    .privacy1 {
        margin-top: 100px;
    }

    .images img{
        width:232px;

    }
    .images{
        margin-left:0px;
        height: 200px;
    }


   .none {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .path{
        display: none;
    }
    .text-div{
        max-width:60%;
       
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .present-div{
        max-width:500px;
        width:100%;
    }
    .perfect{
        font-size:25px;
    }
    .present{
        font-size:25px;
    }
    .section-div3 img{
        width:100%;
    }
    .map{
        max-width:465px;
        width:100%;
        height:350px;
    }
    .palms-title{
        font-size:15px;
       
    }
    .palms-text{
        font-size:15px;
    }
    .real{
        display: none;
    }
    .form{
        max-width:200px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:230px;
    }

    .last {
        height: 420px;
    }

    .last-list {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .down {
        margin-top: 20px;
    }
}



@media only screen and (max-width: 946px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:100px;
    }
    .present-div{
        max-width:400px;
        width:100%;
    }
    .perfect{
        font-size:20px;
    }
    .present{
        font-size:20px;
    }
    .form{
        max-width:200px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:220px;
    }
}


@media only screen and (max-width: 768px){
    .images img{
        width:100%;
    }
    .images{
        margin-left:0px;    
    }
    .navbar-links{
        display: none;
    }
    .toggle-button{
        display: block;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
    }
    .nav-li{
        text-align: center;
    }
    .navbar-links.active{
        display: block;
    }
    .path{
        display: none;
    }
    .text-div{
        width: 100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .world{
        padding-right:100px;
    }
    .section-div{
        margin-left:20px;
        max-width: 460px;
        width: 100%;
    }
    .present-div{
        max-width:400px;
        width:100%;
    }
    .perfect{
        font-size:20px;
    }
    .present{
        font-size:20px;
    }
    .map{
        max-width:400px;
        width:100px;
        
    }
    .real{
        display: none;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .form{
        max-width:190px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:200px;
        width:100%;
        margin-left:0px;
    }
    .email1{
        margin-left:20px;
    }
    .password{
        margin-left:20px;
    }
    .footer-title{
        margin-top:30px;
    }
    
}
@media only screen and (max-width: 540px){
    .images img{
        width:100%;
    }
    .images{
        margin-left:0px;    
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        font-size:30px !important; 
    }
    .text{
        font-size:30px;
    }
    .text1{
        font-size:30px;
    }
    .hello{
        margin-bottom: 180px;
        margin-right:100px;
    }
    .world{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    .explore{
        margin-left:-50px;
        
    }
    .section-div{
        max-width:350px;
        width:100%;
        margin-left:20px;
    }
    .section-map{
        display: flex;
        flex-direction: column;
    }
    .map{
        max-width:540px;
        width:100%;
        height:250px;
    }
    .box{
        max-width:250px;
        width:100%;
        height:250px;
        margin-top:20px;
    }
    .palms img{
        max-width:540px;
        width:100%;
        height:250px;
    }
    .palms-title{
        display: flex;
        margin-left:60px;
    }
    .palms-text{
        padding-left:20px;
    }
    .real{
        margin-left:300px; 
    }
    .present-div{
        max-width:400px;
        width:100%;
        display: flex;
        align-items: center;
    }
    .perfect{
        font-size:20px;
       
    }
    .present{
        font-size:12px;
        
    }
    .form{
        max-width:190px;
    }
    .footer1{
        display: flex;
        flex-direction: column;
    }

    .last-list {
    display: flex;
    flex-direction: column;
}

    .submit1{
        max-width:190px;
    }
    .none{
        width:200px;
    }
    .down{
        max-width:400px;
    }
}
@media only screen and (max-width: 414px){
    .images img{
        width:100%;
    }
    .images{
        margin-left:0px;
        height: 0px;
    }
    .path{
        display: none;
    }
    .text-div{
        width:200px;
        margin-left:100px;
    }
    .text{
        font-size:20px;
    }
    .text1{
        font-size:20px;
    }
    .world{
        margin-left:100px;
        margin-top:-80px;
    }
    .hello{
         font-size:20px;
    }
    .explore{
        max-width:100px;
        width:100%;
        height:50px;
        margin-left:150px;
        
    }
    .section-div{
        margin-left:0px;
        max-width:415px;
        width:100%;
    }
    .map{
        max-width:414px;
        width:100%;
    }

.small-img img{
    max-width:125px;
    width:100%;
}
.burj{
    font-size:15px;
    margin-left:100px;
}
.khalifa{
    font-size: 15px;
}
.form{
    max-width:180px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.submit1{
    max-width:170px;
}

.none {
    display: none;
}

.email {
    margin-left: 0px;
}

.last-logo {
    margin-left: 0px;
}

.border {
    height: 0px;
}

.last img {
    margin-top: 40px;
    margin-left: 130px
}
.last h3 {
    margin-top: 40px;

}

.privacy1 {
    margin-top: 20px;
    margin-left: 40px;
    height: 0px;
    width: 100%;
}
.privacy1 p {
    font-size: 12px;
}

.last-list {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.last-list ul {
    text-align: center;
}

.header {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
     width: 210px;
}
.try {
    margin-left: 100px;
}
.down {
    margin-top: 30px;
}

.last-list a {
     color: #688095;
}

.line {
    display: none;
}
.img {
    padding-right: 0px;
}
.footer1 {
    border-bottom: 50px solid #688095;
    padding-bottom: 200px;

    }
.khalifa {
    padding-left: 30px;
    padding-right: 30px;
}

.present {
   padding: 30px;
}

.email {
    padding: 30px;
}

}


@media only screen and (max-width: 411px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        max-width:200px; 
        width:100%;
    }
    .text{
        font-size:20px;
        margin-left:30px;
    }
    .text1{
        font-size:20px;
        margin-left:30px;
    }
    .world{
        margin-left:130px;
    }
    .section-div{
        margin-left:0px;
    }
    
    .small-img img{
        max-width:125px;
        width:100%;
    }
    .burj{
        font-size:15px;
       
    }
    .khalifa{
        font-size: 15px;
       
    }
    .present-div {
    padding-left: 30px;
    padding-right: 30px;
}
   
    .form{
        max-width:170px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:160px;
    }
}
@media only screen and (max-width: 375px){
    .images img{
        width:100%;
    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        max-width:200px;
        width:100%;
        height:100px;
        margin-left:90px;
    }
    .text{
        font-size:25px;
        margin-left:0px;
    }
    .text1{
        font-size:25px;
        margin-left:0px;
    }
    
    .hello{
        font-size:20px;
        margin-top:100px;
    }
    .explore{
        max-width:100px;
        width:100%;
        height:50px;
        margin:0 auto;
    }
    .section-div{
        margin-left:0px;
        width:auto;
    }
    .small-img img{
        max-width:125px;
        width:100%;
    }
    .map{
        max-width:375px;
        width:100%;

    }
    .burj{
        font-size:15px;
           
    }
    .khalifa{
        font-size: 15px;
    }
    .form{
        max-width:150px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:160px;
    }
    
}
@media only screen and (max-width: 360px){
    .images img{
        width:100%;

    }
    .images{
        margin-left:0px;
    }
    .path{
        display: none;
    }
    .text-div{
        max-width:200;
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .text{
        font-size:20px;
    }
    .text1{
        font-size:20px;
    }
    
    .world{
        margin:0 auto;
    }
    .section-div{
        margin-left:0px;
    }
    
    
    .small-img img{
        max-width:125px;
        width:100%;
    }
    .map{
        max-width:360px;
        width:100%;
    }
    .box{
        max-width:360px;
        width:100%;
    }
    .burj{
        font-size:15px;
       
    }
    .khalifa{
        font-size: 15px;
    }
    .form{
        max-width:150px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:160px;
    }
}
@media only screen and (max-width: 320px){
    .images img{
        width:100%;

    }
    
    .images{
        margin-right:0px;
        
    }
    .path{
        display: none;
    }
    .text-div{
        width:100%;
        margin-left:30px;
        
    }
    .text{
        font-size:25px;
    }
    .text1{
        font-size:25px;
    }
    .world{
        margin-left:70px;
    }
    .explore{
        max-width:100px;
        width:100%;
        height:50px;
        margin-left:120px;
    }
    .section-div{
        margin-left:0px;
        width:auto;
    }
    
    .map{
        max-width:302px;
        width:100%;
    }
    .small-img img{
        max-width:125px;
        width:100%;
    }
    .burj{
        font-size:15px;
       
    }
    .khalifa{
        font-size: 15px;
    }
    .present-div{
        height:250px;
    }
    .last-title{
        align-items: center;
        
    }
    .form{
        max-width:100px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .submit1{
        max-width:250px;
        width:100%;
        font-size: 20px;
        
    }
    .footer1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-title{
        margin:0 auto;
    }
    .last{
        margin-left:-70px;
        
    }
   .last-list{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
    
}


























