/* background */
.bg-img{
    background-image: url(../images/dubai-33972181_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;  

}

.logo{
    margin-top:20px;
    left:100px;
}
.img{
    margin-left:50px;
}
.nav-ul{
    display: flex;
}
.nav-li{
    display: inline-block;
    vertical-align: middle;
    margin:20px;
    
}
a:hover{
    font-size:30px;
    
}

.navbar-links.active{
   display: block;
}


.navbar{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    background-color:khaki;
    padding:10px;
}
.nav-a{
    color:#2C4458; 
}   
.toggle-button{
    position: absolute;
    top:45px;
    right:20px;
    font-size:25px;
    color:red;
    display: none;
    cursor: pointer;
}
.text-div{
    max-width: 733px;
    width: 100%;
    height: 164px;
    margin-left:150px;
    margin-top:45px;
    position: relative;
    font-family: 'Cairo', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.text{
    color:#FFFFFF;
    font-size:60px;
    width:100%;
    letter-spacing: 2px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    position: relative;
    animation: mymove2 5s ;
    text-shadow: 1px 1px #2C4458;
}
.text{
    animation-timing-function: linear;
}
.text1{
    color:#FFFFFF;
    font-size:60px;
    letter-spacing: 2px;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    position: relative;
    animation: mymove3 5s ;
    text-shadow: 1px 1px #2C4458;
}
.text1{
    animation-timing-function: ease-in;
}
.world{
    max-width: 674px;
    height:70px;
    align-items: center;
    margin-top:50px;
    margin-left:150px;
    display: flex;
    cursor: pointer;
    transition:ease-out 0,3s;
    font-size :30px;
    outline: none;
    text-align: center;
    text-shadow: 1px 1px #2C4458;
    
}

.hello{
    color:#EFD6AC;
    font-size:20px;
    text-shadow: 1px 1px #2C4458;
    font-family: 'Cairo', sans-serif;
    position: relative;
    animation: mymove4 5s ;
}
.hello{
    animation-timing-function: ease-out;
}
.explore{
    max-width:166px;
    width:100%;
    height:55px;
    border:none;
    border-radius: 10px;
    /* position: absolute; */
    margin-left:140px;
    margin-top:100px;
    /* cursor: pointer; */
    transition:ease-out 0,3s;
    font-size :30px;
    outline: none;
    border:3px solid #42fbf2;
    box-shadow:rgb(151, 151, 94);
    z-index: 1;
    position: relative;
    animation: mymove5 5s ;
}
.explore{
    animation-timing-function: ease-in-out;
}
.explore:hover{
    background-color:#C49D48;
    box-shadow:rgb(100, 177, 113);
    cursor: pointer;
    color:aqua;
}


.images{
    max-width:600px;
    width: 100%;
    height:512px;
    display: flex;
    margin-left:500px;
    position: relative;
    animation: mymove 1s ;
    animation-timing-function: linear;
    cursor: pointer;
    
    
}
.border{
    flex-wrap: wrap;
}
.path{
    max-width:292px;
    width: 100%;
    height:159px;
    background-color: white;
    margin-left:140px;
    margin-top: -310px;

   
}
.path p::first-line {
        color: #C49D48;
        font-variant: small-caps;
        font-size:20px;
}
.path h4::first-line {
    color: #C49D48;
    font-variant: small-caps;
    font-size:30px;
}
.travel{
    color:#04151F;
    font-size: 25px;  
    font-family: 'Cairo', sans-serif;
}
.sun{
    font-size: 15px;
    color: #04151F;
    padding-top: 20px;
    font-family: 'Cairo', sans-serif;
}
.section{
    max-width:1920px;
    width: 100%;
    height:1089px;
    background-image: url(../images/burj-khalifa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.section-div{
    max-width:828px;
    height:733px;
    background-color:#357AB4;
    margin-left:219px;
    padding-top:100px;
    border-radius: 20px;
    border: 1px solid;
    padding: 10px;
    
}
.burj{
    font-size:25px ;
    color: #C49D48;
    padding-left:30px;
    padding-top:91px;
    font-family: 'Cairo', sans-serif;
}
.khalifa{
    font-size:16px;
    color:#C49D48;
    padding-top:63px;
    font-family: 'Cairo', sans-serif;
}
.small-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 63px;
    flex-wrap: wrap;
    border: 1px solid;
    padding: 10px;
    cursor: pointer;
    
}
.small-img img{
    cursor: pointer;
}
.small-img img:hover{
    cursor: pointer;
    
}
.section-map{
    display: flex;
    justify-content: space-around;

}
.present-div{
    display: flex;
    flex-direction: column;
    width:800px;
    margin-top: 100px;
    /* border: 1px solid; */
    padding: 10px;
    position:relative;
    height:330px;
    justify-content: center;

}
.present-div span:nth-child(1){
    position: absolute;
    top:0;
    width:90%;
    height:90%;
    /* border:1px solid blue; */
    border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0,5s;
    animation:animate 6s linear infinite;
}
.present-div:hover span:nth-child(1){
    border:none;
    background: rgba(0,0,255,0.8);
}
.present-div span:nth-child(2){
    position: absolute;
    top:0;
    width:90%;
    height:90%;
    border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0,5s;
    animation:animate2 4s linear infinite;
}
.present-div:hover span:nth-child(2){
    background: rgba(0,0,255,0.8);
}
.present-div span:nth-child(3){
    position: absolute;
    top:0;
    width:90%;
    height:90%;
    border-radius:38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: 0,5s;
    animation:animate 10s linear infinite;
}
.present-div:hover span:nth-child(3){
    background: rgba(0,0,255,0.8);
}
.content{
    position: relative;
    padding:20px 40px;
    color:black;
    text-align: center;
    transition:0.5s;
    z-index: 1000;
}
.content button{
    position: relative;
    display: inline-block;
    margin-top:10px;
    border:2px solid #1b1a1a;
    padding:6px 18px;
    color:black;
    font-weight: 400;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}
.content button:hover{
    background:#FFFFFF;
    color:grey;
}
.present{
    font-size:30px;
    color:#C49D48;
    margin-top:30px;
    font-family: 'Cairo', sans-serif;
}
.try{
    max-width:100px;
    width: 100%;
    height:60px;
    background-color:#C49D48 ;
    border:1px solid;
    border-radius: 30px;
    cursor: pointer;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin-left:70px;
    margin-top:50px;
}
.map{
    max-width: 830px;
    width:100%;
    width:800px;
}
.map2{
    max-width:900px;
    width:100%;
    height:640px;
}
.map-divv{
    display: flex;
    flex-wrap: wrap;
    transition: 0,5s;
    animation:animate6  2s ;
    position: relative;
}
.map-p{
    width:200px;
    margin-left:30px;
    margin-top:50px;
}
.perfect{
    font-size:50px;
    color:#C49D48;
    font-family: 'Cairo', sans-serif;
}
.image-bg{
    background-image: url(../images/DB.jpg);
    max-width:1920px;
    width:100%;
    height:800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.city-box form {
    margin: auto;
}

.section3 img {
    width: 100%;
}
.footer{
  /*  max-width:1900px;*/
    width:100%;
    flex-direction: column;
}
.city-box{
    background-image: url(../images/city.jpg);
    max-width:1920px;
    width:100%;
    height:264px;
    position: absolute;
    
}

.header {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        width: 150px;
}

   .last-list a {
        color: #688095;
    }

.footer-title{
    position: relative;
    font-size:25px;
    color:#E2EAF0;
    display: flex;
    justify-content: center;
    margin-top:54px;
}
.email{
    position: relative;
    font-size:25px;
    color:#E2EAF0;;
    display: flex;
    justify-content: center;
    margin-top:4px;
    
}
.email1{
    position: relative;
    max-width:374px;
    width:100%;
    height:35px;
    margin-left:200px;
    margin-top:10px;
    font-size:20px;
    
}
.submit1{
    position: relative;
    max-width:260px;
    width:100%;
    height:195;
    margin-left:100px;
    background-color:#C49D48;
    font-size:35px;
    color:#e4e2f0;
    margin-top:20px;
    cursor: pointer;
}
.submit1:hover{
    font-size:40px;
    color:blue;
}
.password{
    position: relative;
    max-width:374px;
    height:30px;
    width:100%;
    height:195;
    margin-top:5px;
    margin-left:200px;
}

.last{
    max-width:1900px;
    width:100%;
    display: flex;
    flex-wrap: wrap;
}
.footer1{
    max-width:1900px;
    width:100%;
    margin-top: 300px;
}
.last-logo{
    max-width:32px;
    width:100%;
    height:32px;
    margin-top:124px;
    margin-left:100px;
}
.last-title{
    font-size:30px;
    color:#C49D48;
    margin-top:125px;
    margin-left:5px;
}
.privacy{
    color:#688095;
    margin-top:20px;
}
.privacy1{
    max-width:341px;
    width:100%;
    height:78px;
    margin-top:180px;
    margin-left:-120px;
    font-size:20px;
}
.last-list{
    max-width:168px;
    width:100%;
    height:228px;
    /* margin-top:124px; */
    /* margin-left:25px; */
    display: flex;
    color: #688095;
}
.last-list a{
    margin:0 auto;
}

.line{
    max-width:1900px;
    width:100%;
    height:50px;
    background-color:#688095;
}

/* contact */


form {
    border: 3px solid #f1f1f1;
    font-family: Arial;
  }
  
  .container1{
    padding: 20px;
    background-color: #f1f1f1;
    position: relative;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }


.contact-divv{
    max-width:500px;
    height:400px;
    background-color: #357AB4;
    display: flex;
    justify-content: space-between;
    margin-left:90px;
    flex-direction: row;
    align-items: center;
    opacity: 0.5;
    transition: 0,5s;
    animation:animate  2s ;
    position: relative;
    
}
.second-contactd{
    display: flex;
    justify-content: flex-end;
    margin-top:-120px;
}
.first-contact{
    font-size:30px;
    margin-top:-60px;
}
.first-contact:hover{
    font-size:40px;
}
.questions{
    max-width:140px;
    font-size:20px;
}

.number-div{
    max-width:200px;
    width:100%;
    height:200px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    margin-top:70px;
    flex-wrap: wrap;
    margin: auto;
    
}
.number{
    font-size:16px;
    flex-wrap: wrap;
}
.number:hover{
    font-size:20px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
    
}

.first-number{
    font-size:16px;
    font-family: 'Cairo', sans-serif;
}
.first-number:hover{
    font-size:20px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}

.second-number{
    font-size:16px;
    font-family: 'Cairo', sans-serif;
}
.second-number:hover{
    font-size:20px;
    font-family: 'Cairo', sans-serif;
    letter-spacing: 2px;
}


.question-div{
    max-width:300px;
    height:100px;
    margin-top:20px;
    
}
.icons{
    max-width:500px;
    width:100%;
    height:55;
    
    display: flex;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;  
    cursor: pointer;
}

.icon:hover{
    width:45px;
    height:45px;
}
.fb-icon{
   color:#3b5998;
}
.inst-icon{
    color:#8a3ab9;
}
.twit-icon{
   color:#1DA1F2;
}
.you-icon{
   color:#c4302b;
}
/* about page */
.last1{
    max-width:1900px;
    width:100%;
    height:380px;
    display: flex;
    flex-wrap: wrap;
}

.about-text{
    font-family: 'Cairo', sans-serif;
    color:#04151F;
    font-size:20px;
    letter-spacing: 2px;
}
.us{
    max-width:800px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    border-radius:20px ;
    background-color: #357AB4;
    transition: 0,5s;
    animation:animate7  2s ;
    position: relative;

}

/* animations */


@keyframes mymove {
    from {left: -1000px ;}
    to {left: 0px;}
  }

 @keyframes animate
 {
   0%
   {
       transform:rotate(0deg)
   }
   100%
   {
       transform:rotate(360deg)
   }
 }

 @keyframes animate2
 {
   0%
   {
       transform:rotate(360deg)
   }
   100%
   {
       transform:rotate(0deg)
   }
 }
 @keyframes animate4 {
    from {left: -1000px ;}
    to {left: 0px;}
    
  }

  @keyframes mymove2 {
    from {left: -900px;}
    to {left: 0px;}
  }

  @keyframes mymove3 {
    from {left: -900px;}
    to {left: 0px;}
  }

  @keyframes mymove4 {
    from {left: -900px;}
    to {left: 0px;}
  }
  @keyframes mymove5 {
    from {left: -900px;}
    to {left: 0px;}
  }

  @keyframes animate6
 {
   0%
   {
       transform:rotate(0deg)
   }
   100%
   {
       transform:rotate(360deg)
   }
 }

 @keyframes animate7
 {
   0%
   {
       transform:rotate(0deg)
   }
   100%
   {
       transform:rotate(360deg)
   }
 }
  

